@import "colors";

html,
body {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

iframe {
  width: 1px;
  min-width: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a {
  text-decoration: underline;
  color: $primaryColor;
}
a:hover {
  color: $secondaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
span,
hr {
  // text-shadow: 1px 1px 5px grey;
}

// svg {
//   filter: drop-shadow(1px 1px 5px gray);
//   -webkit-filter: drop-shadow(1px 1px 5px gray);
//   -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#000')";
// }

.filterShadow {
  filter: drop-shadow(1px 1px 5px gray);
  -webkit-filter: drop-shadow(1px 1px 5px gray);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#000')";
}

.noShadow {
  text-shadow: none;
}

.m-0 {
  margin: 0px !important;
}

.pointer {
  cursor: pointer !important;
  transition: color ease 1s;
}
.pointer:hover {
  color: $secondaryColor;
}

.centerDiv {
  display: flex;
  align-items: center;
}

.aStyle {
  text-decoration: underline;
  color: $primaryColor;
  cursor: pointer;
  transition: color 500ms ease;
}
.aStyle:hover {
  color: $secondaryColor;
}

.active {
  color: $secondaryColor;
}

.show {
  opacity: 0.7;
}

.hide {
  opacity: 0;
}

.capitalize {
  text-transform: capitalize;
}

.fullWidth {
  width: 100%;
}

.wpDialog {
  background: rgba(142, 36, 66, 0.5);
  transition: all 1s;
}

.loadingDialog {
  background: rgba(25, 25, 25, 0.5);
  transition: all 1s;
  opacity: 0;
}
.loadingDialog.in {
  opacity: 1;
}
.loadingDialog.out {
  opacity: 0;
}

.player {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.border {
  border: solid 2px $primaryColor;
  border-radius: 10px;
  transition: border-color ease 1s;
}
.border:hover {
  border-color: $secondaryColor;
}

.borderWhite {
  border: solid 2px white;
  border-radius: 10px;
  transition: border-color ease 1s;
}

.borderBlack {
  border: solid 2px black;
  border-radius: 10px;
  transition: border-color ease 1s;
}

.debugBorder {
  border: solid 2px green;
}

.transitionAll {
  transition: all 500ms ease;
}

.transitionLong {
  transition: all 2s ease;
}

.transitionFast {
  transition: all 150ms ease;
}

.MuiMobileStepper-dot {
  background-color: gray !important;
}

.MuiMobileStepper-dotActive {
  background-color: white !important;
}

.MuiGridListTile-imgFullHeight {
  width: auto !important;
}

.myIframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  top: 0px;
  opacity: 0.9;
  transition: all ease 1s;
  z-index: -999;
}

.centerContainer {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider-no-track {
  .MuiSlider-track {
    visibility: hidden;
  }
  // visibility: hidden !important;
  // background-color: red !important;
}

// Buttons

.esuwBtn {
  color: $primaryColor !important;
  background-color: "#5050507F";
  // transition: background-color 500ms ease !important;
}

.esuwBtn:hover {
  background-color: $secondaryColor !important;
  // transition: background-color 500ms ease !important;
}

// overwrites

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 1;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: solid white 0.8px;
  border-radius: 10px;
}

#printWindow {
  display: none;
}
